<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Client
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card id="client-info">
    <ion-card-header color="primary">
      <ion-card-subtitle>Client Information</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field style="width: 100%;">
                <input matInput placeholder="Name of Client">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button style="padding: 0px 16px; width: 100%;">Create</ion-button>
</ion-content>