ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}
ion-button{
  height: 38px;
  font-size: 15px;
}
.singleQtyStatus .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  @media (max-width:767px){
      line-height: 40px;
      padding: 0 8px;
      font-size: 12px;
  }
}
