ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}
ion-button{
  height: 38px;
  font-size: 15px;
}
.phoneInput{
  padding: 9px 5px !important;
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
.singleQtyStatus .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  @media (max-width:767px){
      line-height: 40px;
      padding: 0 8px;
      font-size: 12px;
  }
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success, #10dc60) !important;
  --ion-color-base-rgb: var(--ion-color-success-rgb, 16, 220, 96) !important;
  --ion-color-contrast: #ffffff !important;
}
.ion-color-tertiary{
  --ion-color-contrast: #ffffff !important;
}
ion-button{
  @media(max-width:767px){
      width:100%;
  }
}   

/** Global css for all listig and detail pages **/
.pl-0{padding-left:0px;}
.pr-0{padding-right:0px;}
.ml-0{margin-left:0px;}
.mr-0{margin-right:0px;}
ion-row{
  ion-col{
    app-text-shell{
      padding: 2px 0px;
    } 
    h6{
      margin: 5px 0px;
      font-size:14px;
      font-weight:bold;
      color:#666;
    }
  }
}