<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        User Details
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class="ion-padding-top">
      <mat-accordion [multi]="!mobileMode">
        <!-- <ion-row> -->
          <ion-col size-md="6" size-xs="12" class="pb-0 pt-0">
            <mat-expansion-panel class="ml-0" [expanded]="!mobileMode" *ngIf="!editing||show=='userInfo'">
              <mat-expansion-panel-header>
                <mat-panel-title>User Information</mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <ion-row>
                  <ion-col size="12">
                    <h6>First Name</h6>
                    <div *ngIf="!userInfoEditMode">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.firstName"></app-text-shell>
                    </div>
                    <div *ngIf="userInfoEditMode">
                      <ion-input [(ngModel)]="user.firstName"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h6>Last Name</h6>
                    <div *ngIf="!userInfoEditMode">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.lastName"></app-text-shell>
                    </div>
                    <div *ngIf="userInfoEditMode">
                      <ion-input [(ngModel)]="user.lastName"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h6>Email</h6>
                    <div *ngIf="!userInfoEditMode">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.email"></app-text-shell>
                    </div>
                    <div *ngIf="userInfoEditMode">
                      <ion-input [(ngModel)]="user.email"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h6>Username</h6>
                    <div *ngIf="!userInfoEditMode">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.username"></app-text-shell>
                    </div>
                    <div *ngIf="userInfoEditMode">
                      <ion-input [(ngModel)]="user.username"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h6>Mobile Phone</h6>
                    <div *ngIf="!userInfoEditMode">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.mobilePhoneNumber">
                      </app-text-shell>
                    </div>
                    <div *ngIf="userInfoEditMode">
                      <input [(ngModel)]="user.mobilePhoneNumber" class="phoneInput" type="text"
                        [textMask]="{mask: phoneNumberMask}" />
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h6>Last Updated</h6>
                    <div *ngIf="user.updated">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.updated"></app-text-shell>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12">
                    <h6>Last Login</h6>
                    <div *ngIf="user.lastLogin">
                      <app-text-shell animation="bouncing" lines="1" [data]="user?.lastLogin"></app-text-shell>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12">
                    <h6>Login Count</h6>
                    <div *ngIf="user.loginCount">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.loginCount"></app-text-shell>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12">
                    <h6>Last Browser</h6>
                    <div *ngIf="user.lastBrowser">
                      <app-text-shell animation="bouncing" lines="1" [data]="user.lastBrowser"></app-text-shell>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="user.lastIsMobile">
                  <ion-col size-md="12">
                    <h6>Last Was Mobile?</h6>
                    <div>
                      <app-text-shell animation="bouncing" lines="1" [data]="user.lastIsMobile"></app-text-shell>
                      <!-- {{user.lastIsMobile=='true' ? "Yes":"No"}} -->
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="user.lastIsTablet">
                  <ion-col size-md="12">
                    <h6>Last Was Tablet?</h6>
                    <div>
                      <app-text-shell animation="bouncing" lines="1" [data]="user.lastIsTablet"></app-text-shell>
                      <!-- {{user.lastIsTablet==true ? "Yes":"No"}} -->
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="!userInfoEditMode">
                    <ion-button color="tertiary" (click)="editToggleUserInfo()">Edit</ion-button>
                  </ion-col>
                  <ion-col *ngIf="userInfoEditMode" class="ion-text-center">
                      <ion-button color="success" (click)="saveUserInfo(user)">Save</ion-button>
                      <ion-button color="danger" (click)="cancelUserInfo(user)">Cancel</ion-button>
                    </ion-col>
                </ion-row>
              </div>
            </mat-expansion-panel>
          </ion-col>
            <ion-col size-md="6" size-xs="12" class="pb-0 pt-0">
            <!-- User roles section start -->
            <mat-expansion-panel class="ml-0" [expanded]="!mobileMode" *ngIf="!editing||show=='userRoles'">
              <mat-expansion-panel-header>
                <mat-panel-title>User Roles</mat-panel-title>
              </mat-expansion-panel-header>
              <app-user-roles [user]="user" [clientData]="clientData" [id]="user._id"></app-user-roles>
            </mat-expansion-panel>
          </ion-col>
          <ion-col size-md="6" size-xs="12" class="pt-0">
            <mat-expansion-panel class="ml-0" [expanded]="!mobileMode" *ngIf="!editing||show=='clientLinks'">
              <mat-expansion-panel-header>
                <mat-panel-title>Client Links</mat-panel-title>
              </mat-expansion-panel-header>
              <app-user-client-links [user]="user" [clientData]="clientData" [clientGroups]="clientUserGroups" [id]="user._id" (editClicked)="showEdit('clientLinks')"></app-user-client-links>
            </mat-expansion-panel>
          </ion-col>
        <!-- </ion-row> -->
  
        <!-- User roles section end -->
        <!-- <ion-row>
          <ion-col class="ion-text-center outer-buttons">
            <ion-button *ngIf="editMode" (click)="updateUserDetail(user.user)">Save</ion-button>
            <ion-button *ngIf="editMode" (click)="cancelUserUpdate(user.user)">Cancel</ion-button>
          </ion-col>
        </ion-row> -->
      </mat-accordion>
    </ion-grid>
  </ion-content> 















