:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
        .sub-item {
            ion-icon {
                padding-left: 20px;
                font-size: small;
            }
            ion-label {
                font-size: small;
            }
        }
        ion-list {
            .list-ios {
                margin-bottom: 0px;
            }
        }
    }

    ion-list {
        &.list-md {
            padding: 0;
        }
    }
}