<ion-grid *ngFor="let expandedRoles of user.expandedUserRoles">
    <ion-row>
      <ion-col size="12">
        <h6>Client Name</h6>
        <div class="row-info">
          <ion-row>
            <ion-col size="10" class="ion-no-padding">
              <app-text-shell animation="bouncing" lines="1" [data]="expandedRoles.clientName"></app-text-shell>
            </ion-col>
            <!-- <ion-col *ngIf="editModeuserRoles && userRoles" size="2" class="ion-text-right ion-no-padding">
              <button class="delete" (click)="deleteRoles(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col> -->
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <h6>Role Name</h6>
          <div class="row-info">
            <ion-row>
              <ion-col size="10" class="ion-no-padding">
                <app-text-shell animation="bouncing" lines="1" [data]="expandedRoles.roleName"></app-text-shell>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
            <h6>Group Names</h6>
            <div class="row-info">
              <ion-row *ngFor="let groupName of expandedRoles.groupNames">
                <ion-col size="10" class="ion-no-padding">
                  <app-text-shell animation="bouncing" lines="1" [data]="groupName"></app-text-shell>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
              <h6>Access Rights</h6>
              <div class="row-info">
                <ion-row>
                    <ion-col size-md="6" size-xs="12">
                        Category
                    </ion-col>
                    <ion-col size-md="6" size-xs="12" class="ion-no-padding">
                      <app-text-shell *ngFor="let accessrights of expandedRoles.accessRights" animation="bouncing" lines="1" [data]="accessrights.category"></app-text-shell>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="6" size-xs="12">
                        Name
                    </ion-col>
                    <ion-col size-md="6" size-xs="12" class="ion-no-padding">
                      <app-text-shell *ngFor="let accessrights of expandedRoles.accessRights" animation="bouncing" lines="1" [data]="accessrights.name"></app-text-shell>
                    </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
          <mat-divider></mat-divider>
  <!-- <div class="addRoles" *ngIf="editModeuserRoles">
    <ion-input [(ngModel)]="addRoleValue" placeholder="Add Role"></ion-input>
    <ion-button color="success" (click)="addNewRoles(addRoleValue)">Add</ion-button>
  </div>
  <ion-row>
    <ion-col *ngIf="!editModeuserRoles">
      <ion-button color="tertiary" (click)="editToggleRoles()">Edit</ion-button>
    </ion-col>
    <ion-col *ngIf="editModeuserRoles" class="ion-text-center outer-buttons">
      <ion-button color="success" (click)="saveUserRoles(user.user)">Save</ion-button>
      <ion-button color="danger" (click)="cancelUserRoles(user.user)">Cancel</ion-button>
    </ion-col>
  </ion-row> -->
</ion-grid>
