<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pittsburgh Public Safety Supply</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="landing-page" >
  <div class="landing-page-content">
    <div>
      <img [src]="'../../assets/images/pittsburgh_logo.png'"/>
    </div>
    <div>
      <ion-button class=""  (click)="signIn()">Login</ion-button>
    </div>
  </div>
</ion-content>
