<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Client Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion id="client-info">
    <mat-expansion-panel *ngIf="editInfo.clientInfo||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Client Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h6>Name</h6>
              <div *ngIf="!editInfo.clientInfo">
                <app-text-shell animation="bouncing" lines="1" [data]="client.name"></app-text-shell>
              </div>
              <div *ngIf="editInfo.clientInfo">
                <ion-input [(ngModel)]="client.name"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h6>Client #</h6>
              <div *ngIf="!editInfo.clientInfo">
                <app-text-shell animation="bouncing" lines="1" [data]="client.clientNumber"></app-text-shell>
              </div>
              <div *ngIf="editInfo.clientInfo">
                <ion-input type="number" [disabled]="isDisabled" [(ngModel)]="client.clientNumber"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h6>Has Standard Pricing</h6>
              <div *ngIf="!editInfo.clientInfo">
                <app-text-shell animation="bouncing" lines="1" [data]="client.hasStandardPricing?'Yes':'No'">
                </app-text-shell>
              </div>
              <div *ngIf="editInfo.clientInfo">
                <ion-toggle class="pl-0" [(ngModel)]="client.hasStandardPricing"></ion-toggle>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="client.parentClientId||editInfo.clientInfo">
            <ion-col size="12">
              <h6>Parent Client Id</h6>
              <div *ngIf="!editInfo.clientInfo">
                <app-text-shell animation="bouncing" lines="1" [data]="client.parentClientId"></app-text-shell>
              </div>
              <div *ngIf="editInfo.clientInfo">
                <div>
                  {{client.parentClientId?client.parentClientId:"No parent client Id"}}
                </div>
                <ion-button color="tertiary" (click)="openSearchClient()">Edit Parent Client Id</ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="tertiary" *ngIf="!editInfo.clientInfo" (click)="editToggle('clientInfo',client)">Edit</ion-button>
              <ion-button color="success" *ngIf="editInfo.clientInfo" (click)="editToggle('clientInfo',client)">Save</ion-button>
              <ion-button color="danger" *ngIf="editInfo.clientInfo" (click)="cancelToggle('clientInfo')">Cancel</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.clientCustomization||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customization
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-client-customizations [clientCustomizations]="client.customizations" [edit]="editInfo.clientCustomization" [id]="client._id">
      </app-client-customizations>
      <ion-row>
        <ion-col>
          <ion-button color="tertiary" *ngIf="!editInfo.clientCustomization" (click)="editToggle('clientCustomization',client)">Edit</ion-button>
          <ion-button color="success" *ngIf="editInfo.clientCustomization" (click)="editToggle('clientCustomization',client)">Save</ion-button>
          <ion-button color="danger" *ngIf="editInfo.clientCustomization" (click)="cancelToggle('clientCustomization')">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.ranks||showOtherSections" id="client-ranks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ranks or Titles
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ion-grid *ngIf="client.name">
          <ion-row *ngFor="let rank of client.ranksOrTitles">
            <ion-col size-md="10" size-xs="10">
              <app-text-shell animation="bouncing" lines="1" [data]="rank"></app-text-shell>
            </ion-col>
            <ion-col size-md="2" size-xs="2" style="text-align: right;">
              <button *ngIf="editInfo.ranks" class="delete-icon" mat-icon-button
                aria-label="Example icon-button with a heart icon" (click)="deleteRank(rank)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="editInfo.ranks">
            <ion-col>
              <ion-input matInput placeholder="Add Rank or Title" [(ngModel)]="rankAddition"></ion-input>
              <ion-button color="success"  class="mt-5" [attr.disabled]="rankAddition ? null : '' " (click)="addRanks()"
                [disabled]="addingRank">{{addingRank?'':'Add'}}<ion-spinner name="dots" *ngIf="addingRank">
                </ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="tertiary" *ngIf="!editInfo.ranks" (click)="editToggle('ranks',client)">Edit</ion-button>
              <ion-button *ngIf="editInfo.ranks" (click)="editToggle('ranks',client)">Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!client.name">
          <ion-row>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1"></app-text-shell>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.assignments||showOtherSections" id="client-assingment">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Assingments
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ion-grid *ngIf="client.name">
          <ion-row *ngFor="let data of client.assignments">
            <ion-col size-md="10" size-xs="10">
              <app-text-shell animation="bouncing" lines="1" [data]="data"></app-text-shell>
            </ion-col>
            <ion-col size-md="2" size-xs="2" style="text-align: right;">
              <button *ngIf="editInfo.assignments" class="delete-icon" mat-icon-button
                aria-label="Example icon-button with a heart icon" (click)="deleteAssignment(data)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="editInfo.assignments">
            <ion-col>
              <ion-input matInput placeholder="Add Assingments" [(ngModel)]="assingmentAddition"></ion-input>
              <ion-button color="success" class="mt-5" [attr.disabled]="assingmentAddition ? null : '' " (click)="addAssingment()"
                [disabled]="addingAssingment">{{addingAssingment?'':'Add'}}<ion-spinner name="dots"
                  *ngIf="addingAssingment"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="tertiary" *ngIf="!editInfo.assignments" (click)="editToggle('assignments',client)">Edit</ion-button>
              <ion-button *ngIf="editInfo.assignments" (click)="editToggle('assignments',client)">Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!client.name">
          <ion-row>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1"></app-text-shell>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.billingInfo||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Billing
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-client-billing-details [data]="client.billingInfo" [edit]="editInfo.billingInfo" [id]="client._id" (updateClicked)="editToggle('billingInfo',client)" (cancelClicked)="cancelToggle('billingInfo')">
      </app-client-billing-details>
      <ion-row>
        <ion-button color="tertiary" *ngIf="!editInfo.billingInfo" (click)="editToggle('billingInfo',client)">Edit</ion-button>
        <!-- <ion-button *ngIf="editInfo.billingInfo">Save</ion-button> -->
        <!-- <ion-button *ngIf="editInfo.billingInfo" (click)="cancelToggle('billingInfo')">Back</ion-button> -->
      </ion-row>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.contacts||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>Contacts</mat-panel-title>
      </mat-expansion-panel-header>
      <app-client-contact-details [clientContactDetails]="client.contacts" [edit]="true" [id]="client._id" (editingPage)="editToggle('contacts',client)">
      </app-client-contact-details>
      <!-- <ion-row> -->
        <!-- <ion-button (click)="editToggle('contacts',client)">{{editInfo.contacts?'Back':'Edit'}}</ion-button> -->
        <!-- <ion-button>Cancel</ion-button> -->
      <!-- </ion-row> -->
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.roles||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Roles
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-client-user-roles *ngIf="client._id" [id]="client._id" (editingPage)="editToggle('roles',client)"
        (gotResponseSend)="gotResponse($event)" (noDataSend)="gotResponse($event)"></app-client-user-roles>
      <!-- <ion-row> -->
        <!-- <ion-button (click)="editToggle('roles',client)">{{editInfo.roles?'Back':'Edit'}}</ion-button> -->
        <!-- <ion-button>Cancel</ion-button> -->
      <!-- </ion-row> -->
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="editInfo.groups||showOtherSections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          User Groups
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-client-user-groups *ngIf="client._id" [id]="client._id" [edit]="true"
        (gotResponseSend)="gotResponse($event)" (noDataSend)="gotResponse($event)" (editingPage)="editToggle('groups',client)"></app-client-user-groups>
      <!-- <ion-row> -->
        <!-- <ion-button (click)="editToggle('groups')">Edit</ion-button> -->
        <!-- <ion-button (click)="editToggle('groups',client)">{{editInfo.groups?'Back':'Edit'}}</ion-button> -->
        <!-- <ion-button>Cancel</ion-button> -->
      <!-- </ion-row> -->
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>