 ion-col{
     h6{
        margin: 5px 0px;
        font-size: 12px;
        font-weight: 500;
     }
     app-text-shell{
         padding:10px 0px;
     }
 }
 ion-input{
    padding: 0px 5px !important;
    border: 1px solid #cccccc;
    border-radius:3px;
    -webkit-border-radius:3px;-moz-border-radius:3px;
    border-radius: 3px;
    input{
        padding:0px;
    }
 }
 .mt-5{margin-top:12px;}
 .pl-0{padding-left:0px;}
 .delete-icon{
    mat-icon{
      position:relative;
      right:-3px;
    }
 }
 
// mat-expansion-panel {
//     margin: 16px;
//     mat-expansion-panel-header {
//         background: #1c1c1c !important;
//         mat-panel-title{
//             color: #fff !important;
//         }
//         .mat-expansion-indicator{
//             ::after{
//                 color: #fff;
//             }
//         }
//     }
// }
// .mat-expansion-indicator::after{
//     color: #fff;
// }
:host ::ng-deep {
    // app-client-customizations,app-client-billing-details,app-client-contact-details,app-client-user-roles,app-client-user-groups{
        mat-expansion-panel {
            margin-left:16px;
            margin-right:16px;
            margin-top: 5px;
            margin-bottom: 5px;
            mat-expansion-panel-header {
                background: #1c1c1c !important;
                max-height:48px !important;
                mat-panel-title{
                    color: #fff !important;
                }
                .mat-expansion-indicator{
                    ::after{
                        color: #fff;
                        padding: 5px;
                    }
                }
            }
        }
        mat-expansion-panel:first-child,.mat-accordion>.mat-expansion-panel-spacing:first-child {
            margin-top: 20px;
        }
        .mat-expansion-indicator::after{
            color: #fff;
            padding: 5px;
        }
    // }
}
