<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Client Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="client-info">
    <ion-card-header color="primary">
      <ion-card-subtitle>Client Information</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h6>Name</h6>
              <div *ngIf="!editMode">
                <app-text-shell animation="bouncing" lines="1" [data]="client.name"></app-text-shell>
              </div>
              <div *ngIf="editMode">
                <ion-input [(ngModel)]="client.name"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h6>Client #</h6>
              <div *ngIf="!editMode">
                <app-text-shell animation="bouncing" lines="1" [data]="client.clientNumber"></app-text-shell>
              </div>
              <div *ngIf="editMode">
                <ion-input type="number" [disabled]="isDisabled" [(ngModel)]="client.clientNumber"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h6>Has Standard Pricing</h6>
              <div *ngIf="!editMode">
                <app-text-shell animation="bouncing" lines="1" [data]="client.hasStandardPricing?'Yes':'No'">
                </app-text-shell>
              </div>
              <div *ngIf="editMode">
                <ion-toggle class="pl-0" [(ngModel)]="client.hasStandardPricing"></ion-toggle>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="client.parentClientId||editMode">
              <ion-col size="12">
                <h6>Parent Client Id</h6>
                <div *ngIf="!editMode">
                    <app-text-shell animation="bouncing" lines="1" [data]="client.parentClientId"></app-text-shell>
                </div>
                <div *ngIf="editMode ">
                  <div>
                    {{client.parentClientId?client.parentClientId:"No parent client Id"}}
                  </div>
                  <ion-button (click)="openSearchClient()">Edit</ion-button>
                  </div>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card id="client-custom">
    <ion-card-header color="primary">
      <ion-card-subtitle>Client Customizations</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h6>Agency Order</h6>
            </ion-col>
            <ion-col *ngIf="!editMode">
              <app-text-shell animation="bouncing" lines="1"
                [data]="client.customizations.enableAgencyOrder?'Yes':'No'"></app-text-shell>
            </ion-col>
            <ion-col *ngIf="editMode">
              <ion-toggle [(ngModel)]="client.customizations.enableAgencyOrder"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>Allotment Order</h6>
            </ion-col>
            <ion-col *ngIf="!editMode">
              <app-text-shell animation="bouncing" lines="1"
                [data]="client.customizations.enableAllotmentOrder?'Yes':'No'"></app-text-shell>
            </ion-col>
            <ion-col *ngIf="editMode">
              <ion-toggle [(ngModel)]="client.customizations.enableAllotmentOrder"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>Cash Order</h6>
            </ion-col>
            <ion-col *ngIf="!editMode">
              <app-text-shell animation="bouncing" lines="1" [data]="client.customizations.enableCashOrder?'Yes':'No'">
              </app-text-shell>
            </ion-col>
            <ion-col *ngIf="editMode">
              <ion-toggle [(ngModel)]="client.customizations.enableCashOrder"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card> -->
  <app-client-customizations [clientCustomizations]="client.customizations" [edit]="editMode" [id]="client._id"></app-client-customizations>
  <ion-card *ngIf="client.ranksOrTitles.length||editMode" id="client-ranks">
    <ion-card-header color="primary">
      <ion-card-subtitle>Ranks or Titles</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-grid *ngIf="client.name">
          <ion-row *ngFor="let rank of client.ranksOrTitles">
            <ion-col size-md="10" size-xs="10">
              <app-text-shell  animation="bouncing" lines="1" [data]="rank"></app-text-shell>
            </ion-col>
            <ion-col size-md="2" size-xs="2" style="text-align: right;">
              <button *ngIf="editMode" mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteRank(rank)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="editMode">
            <ion-col>
                <!-- <mat-form-field>
                    <input matInput placeholder="Add Rank or Title" [(ngModel)]="rankAddition">
                  </mat-form-field> -->
                  <ion-input matInput placeholder="Add Rank or Title" [(ngModel)]="rankAddition"></ion-input>
                  <ion-button class="mt-5" [attr.disabled]="rankAddition ? null : '' " (click)="addRanks()" [disabled]="addingRank">{{addingRank?'':'Add'}}<ion-spinner name="dots" *ngIf="addingRank"></ion-spinner></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!client.name">
          <ion-row>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1"></app-text-shell>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="client.assignments.length||editMode" id="client-assingment">
    <ion-card-header color="primary">
      <ion-card-subtitle>Assingments</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-grid *ngIf="client.name">
          <ion-row *ngFor="let data of client.assignments">
            <ion-col size-md="10" size-xs="10">
              <app-text-shell animation="bouncing" lines="1" [data]="data"></app-text-shell>
            </ion-col>
            <ion-col size-md="2" size-xs="2" style="text-align: right;">
              <button *ngIf="editMode" mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteAssignment(data)">
                <mat-icon>delete</mat-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="editMode">
            <ion-col>
                <!-- <mat-form-field>
                  <input matInput placeholder="Add Assingments" [(ngModel)]="assingmentAddition">
                  </mat-form-field> -->
                  <ion-input matInput placeholder="Add Assingments" [(ngModel)]="assingmentAddition"></ion-input>
                  <ion-button class="mt-5" [attr.disabled]="assingmentAddition ? null : '' " (click)="addAssingment()" [disabled]="addingAssingment">{{addingAssingment?'':'Add'}}<ion-spinner name="dots" *ngIf="addingAssingment"></ion-spinner></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!client.name">
          <ion-row>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1"></app-text-shell>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <app-client-billing-details *ngIf="client.billingInfo._id||this.editMode" [data]="client.billingInfo" [edit]="editMode" [id]="client._id"></app-client-billing-details>


  <app-client-contact-details *ngIf="client.contacts.length" [clientContactDetails]="client.contacts" [edit]="editMode" [id]="client._id"></app-client-contact-details>
  <app-client-user-roles *ngIf="client._id" [id]="client._id" [edit]="editMode"></app-client-user-roles>
  <app-client-user-groups *ngIf="client._id" [id]="client._id" [edit]="editMode"></app-client-user-groups>

  <ion-card style="background: transparent;box-shadow: 0px 0px 0px;" *ngIf="!editMode">
    <ion-button style="width: 100%;" (click)="editToggle()">Edit</ion-button>
  </ion-card>
  <ion-card style="background: transparent;box-shadow: 0px 0 px 0px;" *ngIf="editMode">
    <ion-button style="width: 100%;" (click)="editToggle()">Save</ion-button>
    <!-- <ion-button style="width: 100%;" (click)="editToggle()">Cancel</ion-button> -->
  </ion-card>

</ion-content>