<ion-card>
    <ion-card-header color="primary">
       <ion-card-subtitle>Billing</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
       <ion-grid>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Billing Method</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Online</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Contact Name</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Amit Kumar</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Contact Email</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">testemail@gmail.com</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Contact Phone</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">1234567890</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>PO Required</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Yes</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Tax Exempt Form On File</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Yes</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Billing Notes</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar lorem ipsum dollar</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Billing Notes</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar lorem ipsum dollar</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Address Line 1</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar lorem ipsum dollar</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Address Line 2</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">dollar 546 street lorem</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Address Line 3</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar, 45654757</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Address Line 4</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar, 45654757</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Address Line 5</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar, 45654757</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>City</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum dollar</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>State</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">Lorem ipsum</div>
             </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size-md="6" size-xs="12">
                <h6>Zip Code</h6>
             </ion-col>
             <ion-col size-md="6" size-xs="12">
                <div class="info">12345</div>
             </ion-col>
          </ion-row>
       </ion-grid>
    </ion-card-content>
 </ion-card>