ion-col{
    h6{
       margin: 5px 0px;
       font-size: 12px;
       font-weight: 500;
    }
}
ion-input{
    padding: 0px 5px !important;
    border: 1px solid #cccccc;
    border-radius:3px;
    -webkit-border-radius:3px;-moz-border-radius:3px;
    border-radius: 3px;
    color: var--ion-color-danger;
    input{
        padding:0px;
    }
 }
 .mat-form-field-infix {
     border-top: 0px solid transparent;
 }
 .mat-form-field-infix {
    margin-top: 0px;
    border-top: 0px !important;
 }

 .mat-form-field-wrapper {
     padding: 0px;
 }
 mat-form-field{
    .mat-form-field-underline {
        display: none !important;
        height:0px !important;
    }
 }
 .mat-select {
    display: inline-block;
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    padding: 9px 5px;
    border-radius: 3px;
 }
 :host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}
:host ::ng-deep .mat-form-field-infix{border-top:0px;}
.phoneInput{
    padding: 9px 5px !important;
    border: 1px solid #cccccc;
    border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

.validation .sc-ion-input-md-h {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}