<!-- <ion-card>
   <ion-card-header color="primary">
      <ion-card-subtitle>Billing</ion-card-subtitle>
   </ion-card-header> -->
<!-- <ion-card-content> -->
<!-- <mat-accordion>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            Billing
         </mat-panel-title>
      </mat-expansion-panel-header> -->
      <ion-grid>
         <ion-row *ngIf="data.billingMethod||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Billing Method</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.billingMethod}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <!-- <ion-item> -->
               <!-- <ion-label>Gender</ion-label> -->
               <mat-form-field style="width: 100%;" appearance="none">
                  <!-- <mat-label>Favorite food</mat-label> -->
                  <mat-select (selectionChange)="billingMethodChanges()" [(ngModel)]="data.billingMethod">
                     <mat-option *ngFor="let billingMethod of billingMethods" [value]="billingMethod">
                        {{billingMethod}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
               <!-- </ion-item> -->
               <!-- <ion-input [(ngModel)]="data.billingMethod"></ion-input> -->
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.contactName||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Contact Name</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.contactName}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-input [(ngModel)]="data.contactName"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.contactEmail||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Contact Email</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div  class="info">{{data.contactEmail}}</div>
            </ion-col>
            <ion-col *ngIf="edit" (keyup)="checkValidation(contactEmail , 'Email')" [ngClass]="{'validation': validationErrors.Email && (contactEmail.touched || contactEmail.dirty || hasError)}" >
               <ion-input   #contactEmail="ngModel" [required]="data.billingMethod == 'Email' ? true : null"  [(ngModel)]="data.contactEmail"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.contactPhone||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Contact Phone</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.contactPhone}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <input [(ngModel)]="data.contactPhone" class="phoneInput" type = "text" [textMask]="{mask: phoneNumberMask}"/>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.poRequired||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>PO Required</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.poRequired?'Yes':'No'}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-toggle [(ngModel)]="data.poRequired"></ion-toggle>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col size-md="6" size-xs="12">
               <h6>Tax Exempt Form on File</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.taxExemptFormOnFile?'Yes':'No'}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-toggle [(ngModel)]="data.taxExemptFormOnFile"></ion-toggle>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.billingNotes||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Billing Notes</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.billingNotes}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-input [(ngModel)]="data.billingNotes"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.addressLine1||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Address Line 1</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.addressLine1}}</div>
            </ion-col>
            <ion-col *ngIf="edit"  [ngClass]="{'validation': validationErrors.addressLine1 && (addressLine1.touched || addressLine1.dirty || hasError)}">
               <ion-input (keyup)="checkValidation(addressLine1 , 'addressLine1')" #addressLine1="ngModel" [required]="data.billingMethod == 'Postal Mail'" [(ngModel)]="data.addressLine1"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.addressLine2||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Address Line 2</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.addressLine2}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-input [(ngModel)]="data.addressLine2"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.addressLine3||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Address Line 3</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.addressLine3}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-input [(ngModel)]="data.addressLine3"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.addressLine4||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Addresss Line 4</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.addressLine4}}</div>
            </ion-col>
            <ion-col *ngIf="edit">
               <ion-input [(ngModel)]="data.addressLine4"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.city||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>City</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.city}}</div>
            </ion-col>
            <ion-col *ngIf="edit" [ngClass]="{'validation': validationErrors.city && (city.touched || city.dirty || hasError)}">
               <ion-input (keyup)="checkValidation(city , 'city')" #city="ngModel" [required]="data.billingMethod == 'Postal Mail'" [(ngModel)]="data.city"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.state||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>State</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.state}}</div>
            </ion-col>
            <ion-col *ngIf="edit" [ngClass]="{'validation': validationErrors.state && (state.touched || state.dirty || hasError)}">
               <ion-input (keyup)="checkValidation(state , 'state')" #state="ngModel" [required]="data.billingMethod == 'Postal Mail'" [(ngModel)]="data.state"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row *ngIf="data.zipCode||edit">
            <ion-col size-md="6" size-xs="12">
               <h6>Zip Code</h6>
            </ion-col>
            <ion-col size-md="6" size-xs="12" *ngIf="!edit">
               <div class="info">{{data.zipCode}}</div>
            </ion-col>
            <ion-col *ngIf="edit" [ngClass]="{'validation': validationErrors.zipCode && (zipCode.touched || zipCode.dirty || hasError)}">
               <ion-input (keyup)="checkValidation(zipCode , 'zipCode')" #zipCode="ngModel" [required]="data.billingMethod == 'Postal Mail'" [(ngModel)]="data.zipCode"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
               <ion-button color="success" *ngIf="edit" (click)="editInfoCalled()" [disabled]="loader">
                  {{loader?'':'Update Billing Info'}}
                  <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
               </ion-button>
               <ion-button *ngIf="edit" (click)="goBack()">
                  Back
               </ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   <!-- </mat-expansion-panel>
</mat-accordion> -->
<!-- </ion-card-content> -->
<!-- </ion-card> -->