ion-col{
    h6{
        margin: 5px 0px;
        font-size: 12px;
        font-weight: bold;
    }
    ion-input{
        padding: 0px 5px !important;
        border: 1px solid #cccccc;
        border-radius: 3px;
        -webkit-border-radius: 3px;-moz-border-radius: 3px;
    }
    mat-form-field{
        width:100%;
    }
}
.mat-expansion-panel-header{
    mat-icon{
        position: absolute;
        right:30px;
    }
}
.addcontact{margin-top:15px;}
.phoneInput{
    padding: 9px 5px !important;
    border: 1px solid #cccccc;
    border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}