<!-- <ion-card>
   <ion-card-header color="primary">
      <ion-card-subtitle>Contacts</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content> -->
<!-- {{clientContactDetails|json}} -->
<!-- <mat-accordion> -->

<!-- <mat-expansion-panel>
   <mat-expansion-panel-header>
      <mat-panel-title>Contacts</mat-panel-title>
   </mat-expansion-panel-header> -->
   <ion-grid>
      <mat-accordion>

         <mat-expansion-panel class="ml-0" *ngFor=" let contact of clientContactDetails">
            <mat-expansion-panel-header>
               <mat-panel-title>{{contact.contactName}}</mat-panel-title>
               <mat-icon *ngIf="edit && actionVisible && add" (click)="deleteContact(contact)">delete</mat-icon>
            </mat-expansion-panel-header>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Type </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!edit">
                  <div class="info">{{contact.contactType}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="edit">
                  <ion-input [(ngModel)]="contact.contactType"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Name </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!edit">
                  <div class="info">{{contact.contactName}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="edit">
                  <ion-input [(ngModel)]="contact.contactName"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Phone </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!edit">
                  <div class="info">{{contact.contactPhone}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="edit">
                  <input [(ngModel)]="contact.contactPhone" class="phoneInput" type = "text" [textMask]="{mask: phoneNumberMask}"/>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Email </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!edit">
                  <div class="info">{{contact.contactEmail}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="edit">
                  <ion-input [(ngModel)]="contact.contactEmail"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Notes </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!edit">
                  <div class="info">{{contact.contactNotes}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="edit">
                  <ion-input [(ngModel)]="contact.contactNotes"></ion-input>
               </ion-col>
            </ion-row>
            <ion-button *ngIf="!contact._id && edit" (click)="addContactsInfo(contact)" [disabled]="loader">
               {{loader?'':'Submit'}}
               <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
            </ion-button>
            <ion-button *ngIf="contact._id && edit" (click)="editContactsInfo(contact)" [disabled]="loader">
               {{loader?'':'Update Contacts Info'}}
               <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
            </ion-button>
         </mat-expansion-panel>
         <ion-button class="addcontact" *ngIf="edit && add" (click)="addContactRow()" [disabled]="loader">Add contact
         </ion-button>
      </mat-accordion>
   </ion-grid>
   <!-- </mat-expansion-panel> -->
   <!-- </mat-accordion> -->
   <!-- </ion-card-content>
</ion-card> -->