<ion-card>
  <ion-card-header color="primary">
     <ion-card-subtitle>Contacts</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
     {{clientContactDetails|json}}
     <ion-grid>
        <!-- <ion-row>
           <ion-col size-md="6" size-xs="12">
              <h6>ID </h6>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="!edit">
              <div class="info">{{clientContactDetails._id"}}</div>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="edit">
              <ion-input [(ngModel)]="clientContactDetails._id"></ion-input>
           </ion-col>
        </ion-row> -->
        <ion-row>
           <ion-col size-md="6" size-xs="12">
              <h6>Contact Type </h6>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="!edit">
              <div class="info">{{clientContactDetails.contactType}}</div>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="edit">
              <ion-input [(ngModel)]="clientContactDetails.contactType"></ion-input>
           </ion-col>
        </ion-row>
        <ion-row>
           <ion-col size-md="6" size-xs="12">
              <h6>Contact Namne </h6>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="!edit">
              <div class="info">{{clientContactDetails.contactName}}</div>
           </ion-col>
           <ion-col size-md="6" size-xs="12" *ngIf="edit">
              <ion-input [(ngModel)]="clientContactDetails.contactName"></ion-input>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-card-content>
</ion-card>