<ion-grid>
   <mat-accordion>
      <div *ngFor=" let contact of clientContactDetails; let i = index;">
         <mat-expansion-panel *ngIf="i==editIndex||!editing">
            <mat-expansion-panel-header>
               <mat-panel-title>{{contact.contactName}}</mat-panel-title>
               <!-- <mat-icon *ngIf="edit && actionVisible" (click)="deleteContact(contact)">delete</mat-icon> -->
            </mat-expansion-panel-header>
            <!-- <mat-icon *ngIf="edit && actionVisible" (click)="editContact(contact)">edit</mat-icon> -->
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Type </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!contact.edit">
                  <div class="info">{{contact.contactType}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="contact.edit">
                  <ion-input [(ngModel)]="contact.contactType"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Name </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!contact.edit">
                  <div class="info">{{contact.contactName}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="contact.edit">
                  <ion-input [(ngModel)]="contact.contactName"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Phone </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!contact.edit">
                  <div class="info">{{contact.contactPhone}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="contact.edit">
                  <input [(ngModel)]="contact.contactPhone" class="phoneInput" type="text"
                     [textMask]="{mask: phoneNumberMask}" />
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Email </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!contact.edit">
                  <div class="info">{{contact.contactEmail}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="contact.edit">
                  <ion-input [(ngModel)]="contact.contactEmail"></ion-input>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size-md="6" size-xs="12">
                  <h6>Contact Notes </h6>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="!contact.edit">
                  <div class="info">{{contact.contactNotes}}</div>
               </ion-col>
               <ion-col size-md="6" size-xs="12" *ngIf="contact.edit">
                  <ion-input [(ngModel)]="contact.contactNotes"></ion-input>
               </ion-col>
            </ion-row>
            <!-- <mat-icon *ngIf="edit && actionVisible" (click)="editContact(contact)">edit</mat-icon> -->
            <ion-row>
               <ion-col>
                  <ion-button  *ngIf="!contact._id && contact.edit" (click)="addContactsInfo(contact)" [disabled]="loader">
                     {{loader?'':'Submit'}}
                     <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
                  </ion-button>
                  <ion-button [color]="contact.edit?'danger':'tertiary'" *ngIf="edit && actionVisible && contact._id" (click)="editContact(contact,i)">
                     {{contact.edit?'Cancel':'Edit Contact'}}
                  </ion-button>
                  <ion-button color="success" *ngIf="contact._id && contact.edit" (click)="editContactsInfo(contact)" [disabled]="loader">
                     {{loader?'':'Update Contact Info'}}
                     <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
                  </ion-button>
                  
                  <ion-button *ngIf="!contact._id && contact.edit" (click)="addRemoveContactRow()">
                     Back
                  </ion-button>
                  <ion-button color="danger" *ngIf="edit && actionVisible && contact.edit && add" (click)="deleteContact(contact)">
                     Delete Contact
                  </ion-button>
               </ion-col>
            </ion-row>
         </mat-expansion-panel>
      </div>
      <div *ngIf="clientContactDetails.length==0">
            There are no client Contacts. Click on the button below to add.
      </div>
      <ion-button color="success" class="addcontact" *ngIf="edit && add && !editing" (click)="addRemoveContactRow()" [disabled]="loader">Add contact
      </ion-button>
   </mat-accordion>
</ion-grid>