<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Orders To Pick
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <pre>{{this.orders|json}}</pre> -->
  <!-- All the orders to pick -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-xs="12" *ngFor="let order of orders.orders">
        <ion-card (click)="openActionSheet(order)">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <h6>Order #</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orderNumber"></app-text-shell>
              </ion-col>
              <ion-col size="4">
                <h6>Source</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orderSource"></app-text-shell>
              </ion-col>
              <ion-col size="4">
                <h6>Organization</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orgName"></app-text-shell>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <h6>Age</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orderAge"></app-text-shell>
              </ion-col>
              <ion-col size="4">
                <h6>Status</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orderStatus"></app-text-shell>
              </ion-col>
              <ion-col size="4">
                <h6>Sub Status</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="order.orderSubStatus"></app-text-shell>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>