<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (onSubmit)="getUsersList(searchText)">
          <ion-col>
            <ion-item class="input-item" no-padding>
              <ion-input type="text" name="search" [(ngModel)]="searchText" required placeholder="Search User">
              </ion-input>
              <button mat-icon-button style="color: black;" color="primary" (click)="getUsersList(searchText)"
                aria-label="Example icon-button with a search icon" [disabled]="searchText==''||searchText==undefined">
                <mat-icon>search</mat-icon>
              </button>
            </ion-item>
          </ion-col>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngIf="users.users.length!=0; else noUser">
      <ion-col size-md="4" size-xs="12" *ngFor="let user of users.users" (click)="viewUserDetails(user)">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" size-xs="12">
                <h6>First Name</h6>
                <app-text-shell animation="bouncing" lines="2" [data]="user.firstName"></app-text-shell>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <h6>Last Name</h6>
                <app-text-shell animation="bouncing" lines="2" [data]="user.lastName"></app-text-shell>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="user.email">
              <ion-col size-md="6" size-xs="12">
                <h6>Email</h6>
                <app-text-shell animation="bouncing" lines="1" [data]="user.email"></app-text-shell>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #noUser>
      <!-- <ion-row> -->
      <ion-card *ngIf="searchedOnce">
        <ion-card-content>
          <h3>
            No Users with searched key phrase
          </h3>
        </ion-card-content>
      </ion-card>
      <!-- </ion-row> -->
    </ng-template>
  </ion-grid>
  <ion-card *ngIf="searchText!=undefined&&users.users.length==0&&searchSubmitted">
    <ion-card-content>
      <h3>
        No users with searched key phrase
      </h3>
    </ion-card-content>
  </ion-card>

</ion-content>