ion-col{
    h6{
        font-weight:bold;
    }
    .info{
        margin-top:5px;
    }
    ion-input{
        padding: 0px 5px !important;
        border: 1px solid #cccccc;
        border-radius: 3px;
        border-radius: 3px;
    }
    ion-button{
        font-size: 13px;
    }
    .mat-icon-button{
        width:auto;
    }
}