ion-card {
    ion-card-content {
        ion-row {
            ion-col:nth-child(2) {
                color: #333;
                font-weight: 600;
            }
        }
    }
}

mat-accordion {
    h6 {
        margin: 0px;
    }
}

.sc-ion-card-md-s,
.sc-ion-card-ios-s {
    img {
        width: auto;
        max-width: 100%;
    }
}

ion-list {
    ion-item {
        &:last-child {
            border-bottom: 0px;
        }
    }

    ion-label {
        span {
            &.title {
                min-width: 150px;
                display: inline-block;
            }
        }
    }
}

.group-btns {
    position:relative;
    @media (max-width:767px) {
        padding: 0px 9px;
        margin-bottom: 7px;
    }

    ion-button {
        @media (max-width:767px) {
            width: 100%;
            display: block;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    // ion-spinner{
    //   position: absolute;
    //   top:-24px;
    //   left:50%;
    //   transform: translateX(-50%);
    // }
}
.status-btns{
    ion-button{
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    ion-icon{
        font-size: 20px;
        position: absolute;
        top: 2px;
        right: 2px;
        cursor:pointer;
    }
    .inputField{
        position: relative;
        margin-bottom: 15px;
        width: 32%;
        float: left;
        margin-right: 2%;
        @media (max-width:767px){
            width:100%;
            margin-right:0px;
            margin-bottom:7px;
        }
        &:last-child{
            margin-right:0;
            @media (max-width:767px){
               margin-bottom:9px;
            }
        }
        label{
            font-size:13px;
            color:#000000;
            display:block;
            margin-bottom:5px;
            font-weight: 600;
        }
        button{
            position: absolute;
            bottom: 0px;
            height: 27px;
            width: 27px;
            right: 0px;
            background:#ebebeb;
            border:1px solid #c5c5c5;
            border-radius:0px 3px 3px 0px;-webkit-border-radius:0px 3px 3px 0px;-moz-border-radius:0px 3px 3px 0px;
            -o-border-radius:0px 3px 3px 0px;

            &.qtyminus{
                right:initial;
                left:0px;
                border-radius:3px 0px 0px 3px;-webkit-border-radius:3px 0px 0px 3px;-moz-border-radius:3px 0px 0px 3px;
                -o-border-radius:3px 0px 0px 3px;
            }
            &:focus{
                outline:none;
                box-shadow:none;
            }
        }
        input{
          max-width:100%;
          width:100%;
          border:1px solid #c5c5c5;
          height:27px;
          padding-left: 30px;
          font-size: 13px;
          border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;
        }
    }
}
.substatus{
    // font-size:11px;
    .editStatus{
        font-weight: normal;
        font-size: 12px;
        // margin-left: 10px;
        color: #3796ea;
        cursor:pointer;
    }
}
.multiQtyStatusBtn{
    ion-button{
        @media (max-width:767px){
            width:100%;
        }
    }
}
ion-col {
    ion-card {
        margin-bottom: 0px;
    }
}
.multiStatus{
    font-size:12px;
    .bold{
        font-weight:bold;
    }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0;
        width: 50%;
    }
    50%{
        background-position: 0 0;
        width: 100%;
    }
    100%{
        background-position: 468px 0;
        width: 50%;
    }
}
:host {
    --text-shell-background: transparent;
    --text-shell-line-color: #EEE;
    --text-shell-line-height: 16px;
    --text-shell-line-gutter: 3px;

    .animated-background {
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #F6F6F6;
        background: linear-gradient(to right, var(--text-shell-line-color, #CCC) 93% , var(--text-shell-background, #FFF) 93%);
        background-size: 800px 104px;
        height: 96px;
        position: relative;
    }
    .text-line {
        height: var(--text-shell-line-height);
        width: 230px;
        //  background: #F6F6F6;
        margin: 4px 0;
        @extend .animated-background;
    }
  }
