ion-card{
    ion-card-content{
        ion-row{
            ion-col:nth-child(2){
                color: #333;
                font-weight: 600;
            }
        }
    }
}
mat-accordion {
    h6 {
        margin: 0px;
    }
}