<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Order Information</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              Organization
            </ion-col>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1" [data]="order.orgName"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Order #
            </ion-col>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1" [data]="order.orderNumber"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Order Date
            </ion-col>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1" [data]="order.date"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Order Type
            </ion-col>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1" [data]="order.orderType"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Status
            </ion-col>
            <ion-col>
              <app-text-shell animation="bouncing" lines="1" [data]="order.orderStatus"></app-text-shell>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Customer Information</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              Name
            </ion-col>
            <ion-col size="12">
              <app-text-shell animation="bouncing" lines="1" [data]="order.userName"></app-text-shell>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              Cell Number for Order Updates
            </ion-col>
            <ion-col size="12">
              <app-text-shell animation="bouncing" lines="1" [data]="order.mobilePhoneNumber"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              Rank(s)
            </ion-col>
            <ion-col size="12">
              <app-text-shell animation="bouncing" lines="1" [data]="order.userInfo.ranks"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              Assingment(s)
            </ion-col>
            <ion-col size="12">
              <app-text-shell animation="bouncing" lines="1" [data]="order.userInfo.assignments"></app-text-shell>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12">
                Shipping Address
              </ion-col>
              <ion-col size="12">
                <app-text-shell animation="bouncing" lines="1" [data]="order.address"></app-text-shell>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>Product Details</ion-card-subtitle>
      </ion-card-header>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let product of products; let i = index" class="product-display">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <app-text-shell animation="bouncing" lines="1" [data]="product.productTitle"></app-text-shell>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <img mat-card-image [src]="'https://integration.ebusiness.pittsburghpublicsafety.com'+product.mainPictureURI" [alt]="product.title">
                <ion-grid>
                  <ion-row>
                    <ion-col size="4" *ngFor="let v of product.variants">
                      <h5>{{v.name}}</h5>
                      <p>{{v.value}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <h3 *ngIf="product.customizations.length">Customizations</h3>
                        <div *ngFor="let customization of product.customizations">
                          <h6>{{customization.name}}</h6>
                          <div>{{customization.value}}</div>
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      Items total: {{product.customersProductPrice/100 | currency}} X{{product.quantity}}
                    </ion-col>
                    <ion-col size="4" style="text-align: right;">
                      {{product.extendedPrice/100 | currency}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-card>

</ion-content>
